body {
  background: $color-black;
  font-family: $base-font-family;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  width: $row-width-s;

  @include respond-to(small) {
    width: 100%;
  }
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-header,
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: $sizeXL;
  margin: auto;
  text-transform: uppercase;
  height: 50px;
  line-height: 1;

  @include respond-to(small) {
    padding: 0 $grid/2;
  }

  > h1 {
    font-size: .7em;
    font-weight: normal;
    margin: 0;

    @include respond-to(small) {
      font-size: 1em;
    }
  }

  > div {
    display: flex;

    > .nav-link {
      font-size: .5em;
      margin-left: $grid/2;

      @include respond-to(small) {
        font-size: .8em;
        margin-left: $grid;
      }
    }
  }
}


.posts {
  display: flex;
  flex-wrap: wrap;

  margin: auto;
  max-width: $sizeXL;

  &.posts-index {
    article:first-child {
      @include respond-to(small) {
          width: 100%;

        .info {
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);
          width: 100%;
          width: 280px;

          @include respond-to(small) {
            width: 240px;
            transform: translate(0,-50%);
          }

          @include respond-to(medium) {
            padding-left: $grid;
            width: 320px;
          }

          @include respond-to(large) {
            width: 500px;
          }

          @include respond-to(x-large) {
            width: 550px;
          }

          > h2 {
            font-size: 1.2em;

            @include respond-to(small) {
              font-size: 1.6em;
            }

            @include respond-to(medium) {
              font-size: 2.2em;
            }
          }

          > h3 {
            font-weight: normal;
            font-size: .8em;

            @include respond-to(small) {
              font-size: 1em;
            }
          }
        }

        .play-button { display: none; }

        .play-button-featured {
          display: inline-block;
          width: 40px;

          @include respond-to(small) {
            width: 60px;
          }
        }

        .image {
          margin-bottom: 0;
        }

        .cover-image {
          opacity: .6;
          object-fit: cover;
          height: 240px;

          @include respond-to(small) {
            height: 330px;
          }

          @include respond-to(medium) {
            height: 400px;
          }

          @include respond-to(large) {
            height: 480px;
          }

          @include respond-to(x-large) {
            height: 500px;
          }
        }
      }
    }
  }

  article {
    position: relative;
    padding: 0 0 $grid 0;
    width: 100%;

    @include respond-to(small) {
      padding: 0 $grid/2 $grid $grid/2;
      width: 50%;
    }

    @include respond-to(medium) {
      width: 33.3%;
    }
  }

  a {
    display: block;

    &:hover {
      h2 {
        text-decoration: underline;
      }
    }
  }

  img {
    display: block;
    width: 100%;
  }

  .info {
    > h2 {
      font-size: 1em;
      margin-bottom: $grid/2;

      @include respond-to(small) {
        font-size: 1.2em;
      }

      @include respond-to(medium) {
        font-size: 1.4em;
      }
    }

    > h3 {
      font-weight: normal;
      font-size: .8em;

      @include respond-to(small) {
        font-size: .8em;
      }

      @include respond-to(medium) {
        font-size: 1em;
      }
    }
  }

  .image {
    position: relative;

    margin-bottom: $grid/2;
  }

  .cover-image {
    object-fit: cover;
    opacity: .8;
    height: 200px;
    margin-bottom: $grid/2;

    @include respond-to(small) {
      height: 180px;
    }

    @include respond-to(medium) {
      height: 180px;
    }

    @include respond-to(large) {
      height: 240px;
    }

    @include respond-to(x-large) {
      height: 240px;
    }
  }

  .play-button-featured { display: none; }

  .play-button {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;

    @include respond-to(small) {
      width: 60px;
    }
  }
}

iframe {
  width: 100%;
  max-width: $sizeXL - $grid;
  margin: auto;
  margin-bottom: $grid;

  @include respond-to(small) {
    margin: auto;
    margin-bottom: $grid*2;
    height: 60vh;
  }

  @include respond-to(medium) {
    height: 70vh;
  }
}

.post-page {
  text-align: center;
  margin-bottom: $grid;
  padding: 0 $grid;

  @include respond-to(small) {
    margin-bottom: $grid*2;
  }

  @include respond-to(large) {
    margin-bottom: $grid*4;
  }

  .post-body {
    max-width: $sizeL/3*2;
    margin: auto;
    text-align: left;
    margin-bottom: $grid;

    font-size: .8em;

    @include respond-to(small) {
      font-size: 1em;
      margin-bottom: $grid*2;
    }

    > h1 {
      margin-bottom: $grid;
    }

    > h2 {
      font-weight: normal;
      font-size: .8em;
      margin-bottom: $grid;

      @include respond-to(small) {
        font-size: 1em;
        margin-bottom: $grid;
      }
    }

    > .main-copy {
      margin-bottom: $grid;

      > p {
        text-align: justify;
      }
    }
  }

  .post-link {
    text-decoration: underline;
    font-size: .8em;

    @include respond-to(small) {
      font-size: 1em;
    }
  }
}
