body {
  background: $color-black;
  font-family: $base-font-family;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: $sizeXL;
  padding: 0 $grid;
  margin: auto;
  text-transform: uppercase;
  height: 50px;

  > h1 {
    font-size: .8em;
    margin: 0;

    @include respond-to(small) {
      font-size: 1em;
    }
  }

  > .nav-link {
    font-size: .6em;

    @include respond-to(small) {
      font-size: .7em;
    }
  }
}


.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: $grid*2;

  article {
    position: relative;
    padding: 0 $grid $grid $grid;
    width: 100%;
    text-align: center;

    @include respond-to(small) {
      padding: 0 $grid/2 $grid $grid/2;
      width: 50%;
      max-width: $sizeXL/2;
    }

    &:first-child {
      padding: 0;
      margin-bottom: $grid;
      width: 100%;
      max-width: 100%;

      .info {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        max-width: 280px;

        @include respond-to(small) {
          max-width: 400px;
        }

        @include respond-to(medium) {
          max-width: 600px;
        }

        > h2 {
          font-size: 1.2em;

          @include respond-to(small) {
            font-size: 1.6em;
          }

          @include respond-to(medium) {
            font-size: 2.2em;
          }
        }

        > h3 {
          font-weight: normal;
          font-size: .8em;

          @include respond-to(small) {
            font-size: 1em;
          }
        }
      }

      .play-button { display: none; }

      .play-button-featured {
        display: inline-block;
        width: 40px;

        @include respond-to(small) {
          width: 60px;
        }
      }

      .image {
        margin-bottom: 0;
      }

      .cover-image {
        opacity: .5;

        @include respond-to(medium) {
          object-fit: cover;
          height: 500px;
        }
      }
    }
  }

  a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
  }

  .info {
    > h2 {
      font-size: 1em;
      margin-bottom: $grid/4;

      @include respond-to(small) {
        font-size: 1.2em;
      }

      @include respond-to(medium) {
        font-size: 1.4em;
        padding: 0 $grid;
      }
    }

    > h3 {
      font-weight: normal;
      font-size: .7em;

      @include respond-to(small) {
        font-size: .8em;
      }

      @include respond-to(medium) {
        font-size: 1em;
      }
    }
  }

  .image {
    position: relative;

    margin-bottom: $grid/2;
  }

  .cover-image {
    opacity: .8;
  }

  .play-button-featured { display: none; }

  .play-button {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;

    @include respond-to(small) {
      width: 60px;
    }
  }
}

footer {
  text-align: center;
  margin-bottom: $grid*2;

  .logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    display: inline-block;
    margin-bottom: $grid/2;

    @include respond-to(small) {
      font-size: 1em;
    }
  }

  p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 360px;
    margin: auto;
    font-size: .7em;

    @include respond-to(small) {
      font-size: .8em;
    }

    @include respond-to(medium) {
      font-size: 1em;
    }

    a {
      font-weight: bold;
    }
  }
}
