@mixin respond-to($media) {
  @if $media == small-landscape {
    @media only screen and (max-height: $sizeS) {@content; }
  }
  @else if $media == small {
    @media only screen and (min-width: $sizeS + $grid*10) {@content; }
  }
  @else if $media == maxsmall {
    @media only screen and (max-width: $sizeS + $grid*10) {@content; }
  }
  @else if $media == menu-small {
    @media only screen and (max-height: 660px) {@content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $sizeM) {@content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $sizeL) {@content; }
  }
  @else if $media == larger {
    @media only screen and (min-width: $sizeL + $grid*6) {@content; }
  }
  @else if $media == x-large {
    @media only screen and (min-width: $sizeXL) {@content; }
  }
}

@mixin header-font-size($normal-size, $small-size, $medium-size, $large-size) {
  font: $base-font-family;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  margin-top: 0;
  margin-bottom: $grid/2;
  font-size: $normal-size;
  @include respond-to(small)  { font-size: $small-size; }
  @include respond-to(medium) { font-size: $medium-size; }
  @include respond-to(large)  { font-size: $large-size; }
}

@mixin h1-font-size {
  @include header-font-size(1em,1.2em,2.2em,2.6em);
}
