$font-size: 16px;

$color-black: #000;

$grid: 20px;

$break-tablet: 1023px;
$break-phone: 623px;
$break-landscape: 620px;

$base-font-family: "Galano Alt", "Helvetica Neue", Helvetica, Arial, sans-serif;;

$baseTransitionStyle: cubic-bezier(0.660, 0.000, 0.070, 1.000);

$sizeXL:        1160px;
$sizeL:         1025px;
$sizeM:         769px;
$sizeS:         321px;
